@import url("https://fonts.googleapis.com/css?family=Anton|Poppins:300,400,500,600,700&display=swap");

:root {
  --color-black: #252525;
  --color-primary: #4438b7;
  --color-secondary: #7a73cc;
  --color-tertiary: #5338b7;
  --color-quaternary: #aca5f3;
}

body {
  font-family: Poppins, sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

a {
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

a:hover {
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-black);
  font-family: Anton, sans-serif;
}

p {
  font-family: Poppins, sans-serif;
  line-height: 1.8;
  font-size: 16px;
  margin-bottom: 0px;
  color: rgb(85, 85, 85);
  font-weight: 300;
}

.text-shadow {
  text-shadow: 0 0 1em #252525, 0 0 1em #252525;
}

h3 {
  font-size: 24px;
  line-height: 25px;
}

@media (max-width: 575px) {
  h3 {
    font-size: 20px;
  }
}

img {
  max-width: 100%;
}

a:focus,
.button:focus,
button:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  transition: all 1s ease 0s;
}

.btn-1 {
  display: inline-block;
  padding: 18px 50px;
  font-size: 15px;
  transition: all 0.5s ease 0s;
  text-transform: uppercase;
  border: 1px solid transparent;
  letter-spacing: 1.5px;
  background-size: 200%;
  color: rgb(255, 255, 255) !important;
}

.btn-1 {
  background-image: linear-gradient(to right, #5338b7 0%, rgb(65, 56, 183) 50%, #5338b7 100%);
}

.btn-1:hover {
  background-position: right center;
  color: rgb(255, 255, 255) !important;
}

.btn-2 {
  display: inline-block;
  padding: 18px 40px;
  font-size: 15px;
  color: var(--color-black);
  transition: all 0.5s ease 0s;
  text-transform: uppercase;
  border: 1px solid rgb(238, 238, 238);
  letter-spacing: 1.5px;
}

.btn-2:hover {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: rgb(255, 255, 255) !important;
}

.btn-float {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn-float:hover,
.btn-float:focus,
.btn-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}