.m-ico {
    margin-bottom: 3px;
    margin-right: 4px;
}

.about-icon {
    font-size: 24px;
    color: var(--color-secondary);
}

.about-under {
    max-width: 142px;
    border-bottom: 3.5px solid var(--color-primary);
}

.about .about-text .about-text-inner {
    position: relative;
    padding-left: 30px;
    border-left: 5px solid var(--color-primary);
    margin-top: 19px;
    margin-bottom: 46px;
}

@media (max-width: 991px) {
    .about {
        padding: 0px;
    }
}

@media (max-width: 575px) {
    .about .about-text,
    .about-img {
        padding-left: 15px;
        padding-right: 15px;
    }

    .about-text {
        margin-top: 50px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .about .about-text {
        margin-top: 50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about .about-text {
        margin-top: 50px;
    }
}

@media (max-width: 575px) {
    .about .about-text h2 {
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about .about-text h2 {
        font-size: 25px;
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
    .about .about-text h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }
}

@media (max-width: 767px) {
    .about-img {
        max-width: 420px;
        margin: auto;
    }

    .about {
        text-align: center;
    }

    .about h2 {
        margin-left: auto;
        margin-right: auto;
    }
}