header .header-text h5,
.header-subtitle {
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 28px;
    text-shadow: 0 0 0.1em #252525, 0 0 0.2em #252525;
}

header .header-under {
    max-width: 800px;
    border-bottom: 5px solid var(--color-primary);
}

header .header-subtitle {
    color: white;
    font-size: 36px;
    text-shadow: 0 0 0.1em #252525, 0 0 0.2em #252525;
}

header .header-text h1 {
    font-size: 100px;
    line-height: 1.273;
    color: var(--color-quaternary);
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    text-shadow: 0 0 0.1em #252525, 0 0 0.2em #252525;
}

header .header-icons {
    max-width: 275px;
}

header .header-icon {
    font-size: 32px;
    color: white;
    transition: all 0.2s ease 0s;
    text-shadow: 0 0 0.2em black, 0 0 0.2em var(--color-secondary) !important;
}

header .header-icon:hover {
    color: var(--color-secondary);
}

@media (max-width: 991px) {
    header .header-text h1 {
        font-size: 85px;
    }
}

@media (max-width: 767px) {
    header .header-text h1 {
        font-size: 75px;
    }
}

@media (max-width: 527px) {
    header .header-text h1 {
        font-size: 65px;
    }

    header .header-text h5 {
        font-size: 24px;
    }

    header .header-subtitle {
        font-size: 32px;
    }

    header .header-icon {
        font-size: 30px !important;
    }
}

@media (max-width: 461px) {
    header .header-text h1 {
        font-size: 55px;
    }
}

@media (max-width: 394px) {
    header .header-text h1 {
        font-size: 50px;
    }

    header .header-text h5 {
        font-size: 22.5px;
    }

    header .header-subtitle {
        font-size: 30.5px;
    }
}

@media (max-width: 361px) {
    header .header-text h1 {
        font-size: 45px;
    }

    header .header-text h5 {
        font-size: 21.5px;
    }

    header .header-subtitle {
        font-size: 29.5px;
    }
}