header {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #a5d1fdc9 0%, #8782ceda 100%);
    background: url('bg2.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header .header-text h5,
.header-subtitle {
    color: white;
    font-size: 28px;
    font-family: Poppins, sans-serif;
    text-shadow: 0 0 0.2em black, 0 0 0.2em var(--color-secondary);
}

.header-subtitle {
    font-size: 36px;
    color: var(--color-secondary);
    text-shadow: 0 0 0.2em black, 0 0 0.2em var(--color-quaternary);
}

header .header-text h1 {
    font-size: 100px;
    line-height: 1.273;
    color: #252525;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    text-shadow: 0 0 0.2em white, 0 0 0.2em var(--color-secondary);
}

@media (max-width: 991px) {
    header .header-text h1 {
        font-size: 85px;
    }

    header .header-text h1::after {
        height: 20px !important;
        bottom: 20px !important;
    }
}

@media (max-width: 767px) {
    header .header-text h1 {
        font-size: 75px;
    }

    header .header-text h1::after {
        height: 15px !important;
        bottom: 16px !important;
    }
}

@media (max-width: 527px) {
    header .header-text h1 {
        font-size: 65px;
    }

    header .header-text h1::after {
        height: 10px !important;
        bottom: 15px !important;
    }

    header .header-text h5 {
        font-size: 24px;
    }

    .header-subtitle {
        font-size: 32px;
    }

    .header-icon {
        font-size: 30px !important;
    }
}

@media (max-width: 461px) {
    header .header-text h1 {
        font-size: 55px;
    }

    header .header-text h1::after {
        height: 7px !important;
        bottom: 12px !important;
    }
}

@media (max-width: 394px) {
    header .header-text h1 {
        font-size: 50px;
    }

    header .header-text h1::after {
        height: 7px !important;
        bottom: 10px !important;
    }

    header .header-text h5 {
        font-size: 22.5px;
    }

    .header-subtitle {
        font-size: 30.5px;
    }
}

header .header-text h1::after {
    position: absolute;
    content: "";
    left: 3px;
    width: 99%;
    height: 25px;
    background-color: var(--color-secondary);
    bottom: 21px;
    z-index: -1;
}

header .header-text h1 span {
    color: var(--color-primary);
}

.header-icons {
    max-width: 275px;
}

.header-icon {
    font-size: 32px;
    color: white;
    transition: all 0.2s ease 0s;
    text-shadow: 0 0 0.2em black, 0 0 0.2em red;
}

.header-icon:hover {
    color: var(--color-secondary);
}