footer {
    padding: 30px 0px;
    text-align: center;
    border-top: 1px solid rgba(90, 81, 219, 0.175);
}

footer .social_icon a {
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--color-quaternary);
    line-height: 40px;
    color: rgb(255, 255, 255);
    margin: 0px 5px;
    transition: all 0.5s ease 0s;
}

footer .social_icon a:hover {
    background-color: var(--color-primary);
}